[Desktop Entry]
Version=1.0
Type=Application
Name=Kenae Media Player
Comment=Video and Image Frame Player with Timeline Editing
Exec=/home/fikry/keyframe_player_linux/kenae_media_player-x86_64.AppImage
Icon=media-player-core
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=media;video;player;frame;sequence;
StartupNotify=true
StartupWMClass=kenae_player
MimeType=video/mp4;video/x-matroska;video/quicktime;image/jpeg;image/png;
