[Desktop Entry]
Version=1.0
Type=Application
Name=Kenae Media Player
Comment=Video and Image Frame Player with Timeline Editing
Exec=/home/fikry/keyframe_player_linux/kenae-launcher-wrapper.sh %F
Icon=/home/fikry/keyframe_player_linux/70e4bfea-516b-416c-9595-c1ba494bdaf6.jpeg
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=media;video;player;frame;sequence;
StartupNotify=true
MimeType=video/mp4;video/x-matroska;video/quicktime;image/jpeg;image/png;
